@model Alkemy.Models.Movies

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Movies</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @*<label asp-for="Imagen" class="control-label"></label>*@
                <input asp-for="ImagenFile" accept="image/*" type="file" multiple>

                <span asp-validation-for="ImagenFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*<label asp-for="Fecha_Creacion" class="control-label"></label>*@
                <input id="Fecha_Creacion" name="Fecha_Creacion" type="text"  class="datepicker form-control " />
                @*<span asp-validation-for="Fecha_Creacion" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="Calificacion" class="control-label"></label>
                <input asp-for="Calificacion" class="form-control" />
                <span asp-validation-for="Calificacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersAsocId" class="control-label"></label>
                <select asp-for="PersAsocId" class ="form-control" asp-items="ViewBag.PersAsocId"></select>
            </div>
            <div class="form-group">
                <label asp-for="GeneroAsocId" class="control-label"></label>
                <select asp-for="GeneroAsocId" class ="form-control" asp-items="ViewBag.GeneroAsocId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts{ 
    <script>
        $(function () {
            $('.datepicker').datepicker();

        });


    </script>


}

